# Ignore image builds directory by default
image_builds/

# But I will manually git add specific release files when I want
# Example:
# git add image_builds/TURBO-v1.0.0-2025-11-29.img.gz
# Generated images / build artifacts
*.img
*.img.gz
*.zip
